<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">From client</th>
            <th scope="col">Total</th>
            <th scope="col">Purchased item</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoices}}
            <tr>
                <th scope="row" data-id="{{_id}}">{{increment @index}}</th>
                <td data-date="{{HTMLinputDate date}}">{{friendlyDate date}}</td>
                <td data-client-id="{{customer._id}}">{{customer.name}}</td>
                <td data-total="{{total}}">{{friendlyNumber total}}</td>
                <td data-billed-toy="{{invoiceLine.toy._id}}">
                    <a href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="
                    <strong>Item: </strong> {{invoiceLine.toy.name}} <br>
                    <strong>Price each:</strong> {{friendlyNumber invoiceLine.toy.price}}<br>
                    <strong>Qty:</strong> {{invoiceLine.qty}} <br>
                    <strong>Subtotal:</strong> {{friendlyNumber invoiceLine.subtotal}}">Hover me for more details ←</a>
                </td>
                <td class="d-none" data-line-item-qty="{{invoiceLine.qty}}"></td>
                <td>
                    <button type="button" class="edit-btn btn btn-success" data-toggle="modal"
                        data-target="#versatileModal">Edit <i class="fas fa-edit"></i></button>
                    <button type="button" class="delete-btn btn btn-danger" data-toggle="modal"
                        data-target="#deleteConfirmModal">Delete <i class="fas fa-trash"></i></button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
